@model City;
@{
    ViewData["Title"] = "Weather Forecast";
}

<h6>Select location to display current weather</h6>
<form asp-controller="Home" method="post">
    @{
        <select asp-for="Name" asp-items="@ViewBag.listOfCities"></select>
        <button type="submit" asp-action="CurrentWeather" class="btn-dark">Show Weather</button>
    }
</form>

<div>
    @*@if ((bool)ViewData["LocationSelected"])
    {
        <partial name="WeatherPartial" model="@ViewBag.ListOfCities.SelectedValue" />
    }*@
</div>


